<h2>Ciao {{ name }}</h2>
<h3>Questo il riassunto degli ultimi post per utente:</h3>

<ul>
    {% for userData in data %}
        <li>
                {{ userData.user.name }}
                <ol>
                        {% for post in userData.posts %}
                                <li>
                                        {{ post.title }}
                                </li>
                        {% endfor %}
                </ol>
        </li>
    {% endfor %}
</ul>